// Override default variables before the import
$body-bg: #dddddd;
$primary: #1ab394;
$body-color: #343a40;
$font-family-base: 'Poppins', -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Blocks
@import './blocks/app.scss';
@import './blocks/btn.scss';